* {
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#elso{
    font-weight: bold;
}
.tablazat{
    border: 1px solid black;
    margin: 10px;
}
.tablazat td{
    border: 1px solid black;
    padding: 10px;
}
#bold{
    font-weight: bold;
}